@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Molle:400i|Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', cursive;
    background-color: whitesmoke;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-container {
    width: 80%;
    height: 100vh;
    background-color: #FEFAD4;
    padding: 50px;
    margin: auto;
}
#clock-container {
    width: 80%;
    height: 20vh;
    margin: 50px auto;
    color: #765D69;
    border: 10px solid #F1B28D;
    text-align: center;
    border-radius: 10px;
}

#clock{
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #8FB9A8;
    font-size: 30px;
}
.button-container {
    margin: auto;
    width: 80%;
    height: 20vh;
    border-radius: 5px;
    background-color: #8FB9A8;
    border: 10px solid #F1B28D;

} 

.format,
.fonts,
.theme{
    float: left;
    margin: 50px 60px;
}

button{
    padding: 10px;
}

